TRINO_HOST=trino
TRINO_PORT=8083
TRINO_USER=dbt
TRINO_CATALOG=iceberg_dev
DBT_DEFAULT_SCHEMA=dbt_dev

TRINO_HOST_PROD=trino
TRINO_PORT_PROD=8083
TRINO_USER_PROD=dbt
TRINO_CATALOG_PROD=iceberg_prod
DBT_DEFAULT_SCHEMA_PROD=dbt_prod

OPENMETADATA_HOST=http://openmetadata-server:8585/api
OPENMETADATA_SERVICE=trino_iceberg_dev
OPENMETADATA_JWT=

ICEBERG_SILVER_LOC=s3://cedia-datalake-dev/iceberg/silver/sia/
ICEBERG_GOLD_LOC=s3://cedia-datalake-dev/iceberg/gold/sia/
